body {
  /* background: linear-gradient(180deg, white, #e7eef7); */
  background: #fefefe;
  color: #2d3748;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

.card-container {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #cbd5e0;
}

.card-about-me {
  display: flex;
  background: white;
  border-radius: 4px;
  padding: 10px;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 90%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-about-me .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-about-me h3 {
  margin: 0.3rem;
}

.card-img-profile {
  background-image: url("../headshot_toon.png");
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-size: cover;
  display: inline-block;
  margin-right: 1rem;
}

.container h1 {
  font-size: 40px;
  text-align: center;
  color: #294067;
}

.container h2 {
  border-bottom: 1px solid #294067;
  color: #294067;
  font-weight: 600;
}

.img-profile {
  background-image: url("../headshot_toon.png");
  background-size: cover;
  width: 6rem;
  height: 6rem;
  border: 1px solid #d1e0f3;
  border-radius: 10px;
  margin: auto;
}

.projects {
  margin-bottom: 3rem;
}

.card-project {
  opacity: 0;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 400px;
  max-width: 350px;
  margin: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;

  background: white;
  border: 1px solid rgb(248, 245, 245);
}

.card-project.is-visible {
  opacity: 1;
}

.card-project:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  position: relative;
  top: -5px;
  /* background: rgba(220, 255, 237, 0.73); */
}

.card-header {
  height: 35%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(70%);
  z-index: 1;
}

.card-content h3 {
  text-decoration: underline;
  font-weight: 600;
}

.card-content {
  flex-grow: 1;
  padding: 1rem;
}

.project-description {
  color: #4a5568;
  font-weight: 300;
}

.card-footer {
  min-height: 3rem;
  /* background: #2c7a7b; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.snj > .card-header {
  background-image: url("../supernicejobs.png");
}

.askplato > .card-header {
  background-image: url("../askplato.png");
}

.recipeboard > .card-header {
  background-image: url("../recipeboard.png");
}

.footer {
  position: absolute;
  width: 100vw;
  left: 0;
  background-color: #2a4365;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer a {
  color: rgba(255, 255, 255, 0.83);
}

@media screen and (min-width: 760px) {
  .card-content h3 {
    text-decoration: none;
  }
  .img-profile {
    width: 120px;
    height: 120px;
  }

  .projects {
    margin-top: 1rem;
  }

  .card-project:first-child {
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.15s,
      top 0.1s ease-in-out 0s;
  }
  .card-project:nth-child(2) {
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.35s,
      top 0.1s ease-in-out 0s;
  }
  .card-project:nth-child(3) {
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s,
      top 0.1s ease-in-out 0s;
  }

  .container {
    width: 70%;
  }
  .footer {
    justify-content: flex-end;
  }
  .footer a {
    margin-right: 2rem;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
    border: none;
  }

  .footer a:hover {
    border-bottom: 1px solid white;
    color: white;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 760px;
  }

  .projects {
    display: flex;
    width: 1024px;
    position: relative;
    left: -100px;
  }
  .card-project {
    width: 300px;
    margin: auto;
  }
}
