body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  background: #f3f3f3;
}

#container {
  height: 100%;
}

@media screen and (max-width: 735px) {
  #container {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
      "sidebar"
      "content";
    color: rgba(0, 0, 0, 0.82);
  }
}

@media screen and (min-width: 736px) and (max-width: 1100px) {
  article {
    height: 100%;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  margin: 40px 0 0 0;
}

#container > * {
  padding: 1em;
}

aside {
  background-color: #2196f3;
  font-size: 0.9em;
  color: #0069c0;
  grid-area: sidebar;
}

aside img {
  display: none;
}

article {
  background-color: #f3f3f3;
  line-height: 1.6em;
  grid-area: content;
}

article #intro {
  font-size: 1.4em;
  line-height: 1.8em;
}

.menu-item {
  color: white;
  display: inline-block;
  padding-left: 10px;
  float: right;
}

.menu-item:hover {
  color: rgba(0, 0, 0, 0.7);
}

#menu-top {
  color: white;
  float: left;
}

#menu-bottom {
  float: right;
  display: block;
}

#reachout {
  background-color: #66bb6a;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
  display: block;
  border-radius: 5px;
  color: white;
  padding: 12px;
  font-size: 1.1em;
  cursor: pointer;
  width: 80px;
  text-decoration: none;
}

#reachout:hover {
  background-color: #338a3e;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  padding: 0.5rem;
  visibility: visible;
}

@media screen and (min-width: 1100px) {
  .tooltip {
    border-bottom: 0.1em dotted black;
  }

  #container {
    display: grid;
    font-family: "Lato", sans-serif;
    color: rgba(0, 0, 0, 0.82);
    grid-template-columns: 4fr 9fr;
    background-color: #f3f3f3;
    grid-template-areas: "sidebar content";
  }

  h1 {
    font-size: 3em;
  }

  #menu-top {
    margin-bottom: 15%;
    float: left;
    width: 100%;
  }

  #menu-bottom {
    width: 100%;
    text-align: center;
  }

  article {
    grid-area: content;
    width: 50%;
    margin: 0 auto 0 auto;
  }

  aside {
    grid-area: sidebar;
    font-size: 1.2em;
  }

  aside img {
    margin: 20% auto 3% auto;
    max-width: 150px;
    display: block;
  }

  #menu-header {
    display: block;
    text-align: center;
  }

  .menu-item {
    display: block;
    padding-bottom: 20px;
    padding-left: 0px;
    float: none;
  }
}
